# Compiled Object files
**/*.slo
**/*.lo
**/*.o

# Compiled Dynamic libraries
**/*.so
**/*.dylib

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a

# Executables
Tests/dummy

# Swap Files
**/*.swp
**/*~

# Build files
**/Debug/*

# Eclipse files
**/.*project

# XCode files
**/*.xcodeproj/*
**/*.1

# LibreOffice lock files
**/.~lock*